<div class="container">
      <article class="">
        <p class="jutify-text" style="text-align: justify">
          La ciencia es una disciplina fascinante que nos ayuda a comprender
          c&oacute;mo funciona el mundo y el universo que nos rodea. Es un
          m&eacute;todo riguroso y sistem&aacute;tico que utiliza la
          observaci&oacute;n, la experimentaci&oacute;n y el an&aacute;lisis
          cr&iacute;tico para obtener conocimientos sobre la naturaleza.
        </p>
        <p lass="jutify-text" style="text-align: justify">
          Los cient&iacute;ficos recopilan datos y los analizan cuidadosamente
          para encontrar respuestas a preguntas importantes. A trav&eacute;s de
          la ciencia, podemos entender c&oacute;mo funcionan las cosas en
          nuestro mundo, desde c&oacute;mo se mueve el agua hasta c&oacute;mo se
          crean los planetas.
        </p>
        <p class="img-fluid" style="text-align: center">
          <img
            src="assets/ciencia.jpg"
            alt=""
            width="160"
            height="160"
          />
        </p>
        <p lass="jutify-text" style="text-align: justify">
          La ciencia ha tenido un impacto enorme en la sociedad, impulsando el
          desarrollo de tecnolog&iacute;as que han cambiado nuestras vidas para
          mejor. La medicina, la energ&iacute;a, la agricultura y muchos otros
          campos han sido transformados por los avances cient&iacute;ficos.
        </p>
        <p lass="jutify-text" style="text-align: justify">
          Adem&aacute;s, la ciencia puede ayudarnos a resolver algunos de los
          mayores desaf&iacute;os que enfrenta la humanidad, como el cambio
          clim&aacute;tico y la sostenibilidad. La ciencia es una herramienta
          poderosa para abordar estos problemas y crear un futuro mejor.
        </p>
        <p lass="jutify-text" style="text-align: justify">
          La ciencia tambi&eacute;n es una actividad humana, que requiere de la
          colaboraci&oacute;n y el intercambio de ideas entre la comunidad
          cient&iacute;fica y la sociedad en general. Es importante que todos
          aprendamos sobre la ciencia y sus aplicaciones para tomar decisiones
          informadas y ser ciudadanos cr&iacute;ticos y conscientes del mundo
          que nos rodea.
        </p>
      </article>
</div>
