<mdb-carousel
  [interval]="0"
  [controls]="true"
  [animation]="'fade'"
  class="mt-5"
>
  <mdb-carousel-item>
    <img
      style="min-height: 220px"
      src="assets/inicio_1.webp"
      class="d-block w-100"
      alt="..."
    />
    <div class="carousel-caption m-0 p-0">
      <h6 class="m-0 p-0">Mision</h6>
      <p class="fs-6 m-0 p-0">
        Proporcionar información clara sobre la metodología STEAM, fomentando su
        adopción y promover la educación integral
      </p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
      style="min-height: 220px"
      src="assets/inicio_2.webp"
      class="d-block w-100"
      alt="..."
    />
    <div class="carousel-caption d-md-block m-0 p-0">
      <h6 class="m-0 p-0">Vision</h6>
      <p class="fs-6 m-0 p-0">
        Ser una fuente de referencia confiable de informacion sobre STEAM,
        contribuyendo a la formación de estudiantes creativos, críticos y
        resolutivos
      </p>
    </div>
  </mdb-carousel-item>
</mdb-carousel>

<div class="container-fluid py-5" style="background-color: #b2a4ff">
  <div class="row mt-5">
    <div
      class="col-12 col-sm-10 col-md-5 mx-auto border border-2 rounded-7"
    >
      <h4 class="text-center mt-2">Objetivo Principal</h4>

      <div class="text-center mt-2">
        <p class="m-1">
          Ayudar a las personas a entender qué es la metodología STEAM y por qué
          es importante.
        </p>
      </div>
    </div>
  </div>





  <div class="overlay-container mt-5">

    <div>
      <h4 class="text-center">Objetivos Especificos</h4>
    </div>

    <div
      class="row row-cols-2 row-cols-md-2 row-cols-lg-3 g-2"
      style="min-height: 100px"
    >

      <div class="col">
        <div class="card shadow-2-strong">
          <div class="card-body border border-2 rounded-5" >
            <p class="card-text jutify-text text-truncate-card">
              Proporcionar información clara sobre la
              metodología STEAM.
            </p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-2-strong">
          <div class="card-body border border-2 rounded-5" >
            <p class="card-text jutify-text text-truncate-card">
              Explicar las areas de la metodología STEAM y su importancia.
            </p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-2-strong">
          <div class="card-body border border-2 rounded-5" >
            <p class="card-text jutify-text text-truncate-card">
              Animar a los estudiantes a explorar los campos de la ciencia,
              tecnología, ingeniería, artes y las matemáticas.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>



<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/indoamerica.ueducativa.7" target="_blank" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/ueindoamerica" target="_blank" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Instagram -->
      <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/ueindoamerica/?hl=es" target="_blank" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

    </section>

  </div>
  <!-- Grid container -->

</footer>
