<div class="container">
  <p style="text-align: justify">
    La tecnolog&iacute;a es un campo que abarca todo lo relacionado con la
    invenci&oacute;n y la creaci&oacute;n de herramientas y procesos para
    mejorar la vida humana. Ha tenido un gran impacto en la sociedad, ya que ha
    transformado la forma en que vivimos, trabajamos y nos comunicamos.
  </p>
  <p style="text-align: justify">
    Desde la invenci&oacute;n de la rueda hasta la creaci&oacute;n de la
    inteligencia artificial, la tecnolog&iacute;a ha estado en constante
    evoluci&oacute;n, impulsando el desarrollo de nuevas herramientas y
    tecnolog&iacute;as m&aacute;s avanzadas. Ha mejorado la eficiencia y la
    productividad en muchos campos, desde la medicina y la energ&iacute;a hasta
    la industria del entretenimiento.
  </p>
  <p style="text-align: center">
    <img
      src="assets/tecnologia.jpeg"
      alt=""
      width="311"
      height="182"
    />
  </p>
  <p style="text-align: justify">
    Sin embargo, tambi&eacute;n hay preocupaciones y desaf&iacute;os
    relacionados con la tecnolog&iacute;a, como la privacidad y la seguridad en
    l&iacute;nea, el impacto en el medio ambiente y la brecha digital. Es
    importante que como sociedad, aprendamos a usar la tecnolog&iacute;a de
    manera responsable y &eacute;tica, y que trabajemos juntos para abordar los
    desaf&iacute;os que enfrentamos.
  </p>
  <p style="text-align: justify">
    En resumen, la tecnolog&iacute;a es una fuerza poderosa que ha transformado
    y sigue transformando el mundo en el que vivimos. Es importante entender su
    impacto y potencial para hacer un uso efectivo y responsable de ella.
  </p>
</div>
